
useDynLib("RcppSMC", .registration=TRUE)

import("methods")
importFrom("Rcpp", "evalCpp")               # with Rcpp 0.11.0
importFrom("grDevices", "dev.new")
importFrom("graphics", "lines", "par", "plot", "points", "polygon", "title", "abline", "boxplot", "plot.new", "layout")
importFrom("stats", "rnorm", "rt")
importFrom("utils", "read.table", "data", "package.skeleton",
           "packageDescription")

export("blockpfGaussianOpt",
       "pfLineartBS",
       "pfLineartBSOnlinePlot",
       "pfNonlinBS",
       "LinReg",
       "LinRegLA",
       "LinRegLA_adapt",
       "nonLinPMMH",
       "compareNCestimates",
       "simGaussian",
       "simGaussianSSM",
       "simLineart",
       "simNonlin",
       "RcppSMC.package.skeleton")

