
useDynLib("RcppSMC", .registration=TRUE)

import("methods")
importFrom("Rcpp", "evalCpp")               # with Rcpp 0.11.0
importFrom("grDevices", "dev.new")
importFrom("graphics", "lines", "par", "plot", "points", "polygon", "title", "abline")
importFrom("stats", "rnorm", "rt")
importFrom("utils", "read.table", "data")

export("blockpfGaussianOpt",
       "pfLineartBS",
       "pfLineartBSOnlinePlot",
       "pfNonlinBS",
       "LinReg",
       "LinRegLA",
       "LinRegLA_adapt",
       "nonLinPMMH",
       "simGaussian",
       "simLineart",
       "simNonlin")

